Brewfile.lock.json
configstore
iterm2
gatsby
sanity
raycast
Fritzing
.env
google_api.json
node_modules
jgit
shopify
builder
karabiner
simple-update-notifier
yarn
.gitconfig.swp
github-copilot
stow/wezterm/.config/wezterm/local.lua
